debug/
release/
.vs/
obj/
bin/

QRCodeScanner/QRCodeScanner/QRCodeScanner.csproj.user
QRCodeScanner/QRCodeScanner/.config/dotnet-tools.json
QRCodeScanner/QRCodeScanner/Properties/PublishProfiles/FolderProfile.pubxml
QRCodeScanner/QRCodeScanner/Properties/PublishProfiles/FolderProfile.pubxml.user
